ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
li {
    display: inline;
    color: blue;
    padding: 8px 13px;
    text-decoration: none;
    margin-top: -20px;
    font-size: 25px;
  }

h1{
  text-align: center;
  font-size: 50px;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 100px;
}
p.sweet{
  text-align: center;
  font-size: 25px;
  margin-left: 23%;
  margin-right: 23%;
}
li.new {
  text-align: center;
  display: inline;
  padding: 35px;
  font-size: 25px;
  color: blue;
  margin: 3px;
  margin-right: 3px;
}
ul.wow{
  text-align: center;
  margin-top: 75px;
}
p.big{
  width: 90%;
  text-align: justify;
}
.tiny {
  float: left;
  margin-right: 15px;

}
.massive {
  float: left;
  margin-right: 25px;
}
section.one{
  width: 50%;
  float: left;
  margin-top: 75px;
}
section.second{
  float: right;
  width: 50%;
  margin-top: 75px;
}
